@import '../../assets//master';

.projectsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: $headerHeight;
    padding-bottom: 20px;

    .projectContainer {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;

        &:nth-child(2n) {
            flex-direction: row-reverse;
        }

        .projectTextContainer {
            display: flex;
            flex-wrap: wrap;
            width: 57%;
            flex-direction: column;
            align-content: center;
            align-items: center;
            margin-right: 50px;
            margin-left: 4%;
            max-width: 700px;

            @media #{$mobile} {
                width: 90%;
                margin: 0px;
            }


            h3 {
                border-bottom: 2px solid darkgray;
                width: 100%;
                padding-bottom: 20px;
                align-self: center;
                margin: 30px 10%;
                text-shadow: 1px 1px 5px rgba(58, 58, 58, 0.74);
            }

            .projectDescription {
                width: 100%;
                margin: 5px 7% 10px 7%;
                text-align: right;
                text-shadow: 1px 1px 5px rgba(58, 58, 58, 0.74);

                @media #{$mobile} {
                    text-align: left;
                }
            }

            .projectDiv {
                margin-top: 10px;
                margin-bottom: 10px;
                color: white;
                text-align: right;
            }
        }

        &:nth-child(2n) .projectTextContainer {
            margin-left: 50px;
            margin-right: 4%;

            @media #{$mobile} {
                width: 90%;
                margin: 0px;
            }
        }

        &:nth-child(2n) .projectDescription {
            text-align: left;
        }

        
        .split {
            width: 100%;
            height: 100px;
            display: block;
            overflow: hidden;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 200,0 100,200' style='fill:%23747ca8' /%3E%3C/svg%3E");
            background-color: $darkBlue;
            transform: scaleX(-1);
            // transform: rotate(140deg);
            
        }

        &:nth-child(2n) .split {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 200,0 100,200' style='fill:%23171b2e' /%3E%3C/svg%3E");
            background-color: $lightBlue;
            transform: scaleX(1);
        }

        &:nth-last-child(2) .split {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 200,0 100,200' style='fill:%23171b2e' /%3E%3C/svg%3E");
            background-color: $lightBlue;
            // transform: scaleX(-1);
        }

        .projectImage {
            width: 23%;
            margin: 45px 5% 20px 20px;
            // margin: 20px;
            // margin-top: 45px;
            max-width: 300px;
                
            @media #{$mobile} {
                width: 60%;
                margin: 50px 0 20px 0;

            }

            img {
                margin: auto;
                width: 100%;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.74), 0 6px 20px 0 rgba(0, 0, 0, 0.151);
            }

            &:nth-child(2n) img {
                align-self: center;
                float: left;
            }
        }
        &:nth-child(2n) .projectImage {
            margin: 45px 20px 20px 5%;
        }
    }
}

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;

    ul {
        padding: 0;
        width: 80%;
        align-self: center;

        li {
            list-style-type: none;
            border-bottom: 2px solid rgb(71, 71, 71);
            padding: 20px;
        }
    }

}
