@import '../../assets//master';

.intro {
    display: flex;
    flex-wrap: wrap;
    margin-top: $headerHeight + 60px;
    justify-content: center;
    width: 100%;

    div {
        width: 86%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @media #{$tablet} {
            width: 90%;
            flex-direction: column;
        }

        .introText {
            width: 75%;
            text-align: left;
            padding-left: 2%;
            text-shadow: 1px 1px 5px rgba(58, 58, 58, 0.74);

            @media #{$tablet} {
                margin-top: 25px;
                width: 90%;
                padding: 0;
            }

            h2 {
                margin-top: 0;
            }

            .socialIcons {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                align-items: center;

                a {
                    color: $whiteText;
                    text-decoration: none;

                    span {
                        align-self: center;
                    }
                }
        
                i {
                    margin-right: 14px;
                    font-size: 25px;
                }

                .resumeLink {
                    display: flex;

                    i {
                        margin-right: 8px;
                        margin-left: 20px;
                    }
                }
                
            }
        }

        .logo {
            max-width: 130px;
            max-height: 130px;
            height: auto;
            width: auto;
            padding-right: 2%;

        }
    }
}