@import '../../assets/master';

.footer-container {
    align-self: center;
    text-align: center;
    color: $whiteText;
    background-color: #1c273a;
    padding-bottom: 30px;
    padding-top: 30px;

}