//font colors
$whiteText: rgb(238, 238, 238);

//background colors
$joshDarkBlue: #171b2e;
// $joshDarkBlue: #2e3141;
$lightBlue: #747ca8;

//media queries
$tablet: "(max-width: 800px)";
$mobile: "(max-width: 500px)";