.container {
  text-align: center;
  background-color: #2e3141;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: rgb(231, 231, 231);
}

.container-blur {
  filter: blur(2px);
}


.hidden {
  display: none;
}