@import './assets/_master.scss';

.wrapper {
  background-image: linear-gradient(5deg, $darkBlue, $lightBlue, $skyBlue);
  box-shadow: inset 0 0 40px 0 rgba(31, 36, 51, 0.726);
}
.container {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: $whiteText;
}

.hidden {
  display: none;
}