@import './assets/_master.scss';

.container {
  text-align: center;
  background-color: $joshDarkBlue;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: $whiteText;
}

.hidden {
  display: none;
}