@import '../../assets/master';

.navContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: $headerHeight;
  background-color: #29394b98;
  justify-content: center;
  position: fixed;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.74), 0 6px 20px 0 rgba(0, 0, 0, 0.151);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);

    .header {
        height: $headerHeight;
        overflow: hidden;
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        font-size: calc(10px + 2vmin);
        color: $whiteText;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        

        .title {
            cursor: pointer;
        }

        h3 {
        margin-left: 7%;
        align-self: center;
        user-select: none;
        }


        .nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 7%;
        margin-right: 7%;
        align-self: center;

            .hamburger-nav {
                z-index: 2;
                cursor: pointer;

                .hamburger1, .hamburger2, .hamburger3 {
                    width: 28px;
                    height: 3px;
                    background-color: $whiteText;
                    margin: 6px 0;
                    transition: 0.4s;

                }

                .change1 {
                    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
                    transform: rotate(-45deg) translate(-6px, 6px);
                }

                .change2 {opacity: 0;}

                .change3 {
                    -webkit-transform: rotate(45deg) translate(-6px, -7px);
                    transform: rotate(45deg) translate(-6px, -7px);
                }
            }
        }
    }

    .searchInput {
        height: 30px;
        width: 60%;
        height: 40px;
        align-self: center;
        transition: width 0.2s linear;
        font-size: 16px;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .search-options {
        margin-bottom: 20px;

        button {
            background-color: $whiteText;
            color: black;
            border-radius: 2%;
            width: 50%;
            height: 30px;
            margin: 10px 25%;
            font-size: 14px;
        }

        input {
            margin-top: 10px;
        }
    }

    .fa-search {
        align-self: center;
        transform: scale(0.8);
        cursor: pointer;
        margin-bottom: 20px;
        margin-top: 10px;
    }

}

.popup-nav {
    text-align: center;
    color: $whiteText;
    display: inline-block;
    flex-wrap: wrap;
    width: 50%;
    min-width: 200px;
    max-width: 500px;
    margin: 0;
    position: fixed;
    top: 20%;
    overflow: scroll;
    overflow-y: scroll;
    justify-content: center;
    align-self: center;
    height: 320px;
    max-height: 80%;
    flex-grow: 1;
    border-radius: 10px;
    // transition: opacity 1s;


    @media #{$tablet} {
        width: 80%;
    }

    @media #{$mobile} {
        width: 95%;
    }

    .popup-nav-links {
        background-color: #4d6591;
        background-image: linear-gradient(20deg, #607cb1, #3f66ad);
        align-self: center;
        opacity: 1;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        flex-grow: 3;
        justify-content: flex-start;
        position: relative;
        overflow: scroll;
        flex: 1;

        a {
            width: 30%;
            align-self: center;
            font-size: 1.9rem;
            text-decoration: none;
            color: $whiteText;
            margin: 8px;
        }

        .border-line {
            align-self: center;
            width: 90%;
            border-top: 2px solid $whiteText;
            margin-bottom: 10px;
        }
        .navLink {
            // border: 1px solid red;
            // width: 100%;
            align-self: center;
            font-size: 1.9rem;
            text-decoration: none;
            color: $whiteText;
            margin: 8px;
            cursor: pointer;
        }
    }
}

.popup-nav-overlay {
    text-align: center;
    color: $whiteText;
    display: flex;
    background: rgba(42,54,77, 0.8);
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% - 100px); 
    height: 100%;
    margin: 0;
    position: fixed;
    overflow: hidden;
    justify-content: center;
    // transition: opacity 1s;
}

.popup-contact-nav {
    height: 460px;
    height: 320px;
    max-height: 900px;
    width: 50%;
    min-width: 200px;
    max-width: 500px;
    text-align: center;
    color: $whiteText;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    position: fixed;
    top: 20%;
    overflow: scroll;
    justify-content: center;
    align-self: center;
    transition: height 1s, top 1s, opacity 0.5s;
    overflow-y: scroll;
    z-index: 3;

    @media #{$tablet} {
        width: 80%;
    }

    @media #{$mobile} {
        width: 95%;
    }

    .contact-nav-form {
        background-color: #4d6591;
        background-image: linear-gradient(20deg, #607cb1, #3f66ad);
        align-self: center;
        opacity: 1;
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 10px;
        flex-wrap: wrap;
        flex-direction: row;
        overflow-y: scroll;
        justify-content: center;
        p {
            margin: 0 50px;
        }

        h2 {
            width: 100%;
            margin-top: 0;
            margin-bottom: 30px;
        }

        .fa-chevron-down {
            margin-right: 80%;
            margin-top: 20px;
            align-self: flex-start;
            cursor: pointer;
        }
        form {
            margin-top: 40px;

            input {
                font-size: 16px;
                width: 80%;
                margin: 15px;
                height: 32px;
                padding: 4px;
                border: 1px solid rgb(155, 166, 185);
                border-radius: 3px;
            }

            button {
                color: white;
                background-color: rgb(112, 127, 148);
                border: 1px solid white;
                font-size: 15px;
                width: 30%;
                height: 32px;
                margin: 15px;
                border-radius: 3px;
                cursor: pointer;
            }

            textarea {
                margin: 15px;
                font-size: 16px;
                width: 80%;
                height: 120px;
                padding: 8px;
                resize: vertical;
                border: 1px solid rgb(112, 127, 148);
                border-radius: 3px;
            }
        }
    }
}
.search-transition {
    height: auto;
}

.contact-transition {
    transition: height 1s, top 1s, opacity 0.5s;
    top: 5px;
    height: calc(100% - 10px);
    opacity: 100%;
}

.hidden-popup-nav {
    opacity: 0;
    visibility: hidden;
}

// .nav-transition {
//     transition: opacity 0.8s, visibility 0.8s,
// }
.hidden-popup-contact-nav {
    opacity: 0;
    visibility: hidden;
}

.test-popup {
    transition: height 1s, top 1s, opacity 0.5s ease-in 0.7s, visibility 0s 1.5s;
    opacity: 0;
    visibility: hidden;
}



@-moz-document url-prefix() {
    .navContainer {
        background-color: #29394bef;
    }
}