.navContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 100px;
  background-color: #2a364d;
  justify-content: center;
  position: fixed;
  z-index: 1;

    .header {
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        font-size: calc(10px + 2vmin);
        color: rgb(231, 231, 231);
        flex-wrap: wrap;
        justify-content: space-between;

        h3 {
        margin-left: 7%;
        align-self: center;
        }


        .nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 7%;
        margin-right: 7%;
        align-self: center;

            .navLink {
                text-decoration: none;
                color: white;
            }

            .hamburger-nav {
                z-index: 2;
                cursor: pointer;

                .hamburger1, .hamburger2, .hamburger3 {
                    width: 35px;
                    height: 5px;
                    background-color: rgb(231, 231, 231);
                    margin: 6px 0;
                    transition: 0.4s;

                }

                .change1 {
                    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                    transform: rotate(-45deg) translate(-9px, 6px);
                }

                .change2 {opacity: 0;}

                .change3 {
                    -webkit-transform: rotate(45deg) translate(-8px, -8px);
                    transform: rotate(45deg) translate(-8px, -8px);
                }
            }
        }
    }
}

.popup-nav {
    text-align: center;
    color: white;
    display: flex;
    background: rgba(42,54,77, 0.5);
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% - 100px); 
    height: 100%;
    margin: 0;
    position: fixed;
    overflow: hidden;
    justify-content: center;

    .popup-nav-links {
        background-color: #2a364d;
        align-self: center;
        opacity: 1;
        width: 30%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 30px;
        position: relative;

        a {
            font-size: 1.9rem;
            text-decoration: none;
            color: black;
            justify-content: space-between;
            margin: 8px;
        }
    }
}

.hidden-popup-nav {
    display: none;
}